/phylotree_builder_v0.0.1/.pixi/
/phylotree_builder_v0.0.1/__pycache__/
/phylotree_builder_v0.0.1/lib/
/phylotree_builder_v0.0.1/test*/
!/phylotree_builder_v0.0.1/tests/
/phylotree_builder_v0.0.1/tests/*
!/phylotree_builder_v0.0.1/tests/test_trim_alignment_zsh.zsh
/phylotree_builder_v0.0.1/third_party/
/test1/
/test2/
/test3*/
/test4*/
/dev_test/
/AGENTS.md
/CLAUDE.md
/.claude/
/launch.md
/docs/
/old_archive/
/apptainer
/input_demo/*
!/input_demo/prot_seqs_wnt_human/
!/input_demo/prot_seqs_fzd_human/
/input_demo/prot_seqs_fzd_human/demo_outputs/
/input_demo/prot_seqs_fzd_human/foldseek_structure_similarity/
/input_demo/prot_seqs_fzd_human/*.aligned.*
/input_demo/prot_seqs_wnt_human/demo_outputs/
/input_demo/prot_seqs_wnt_human/foldseek_structure_similarity/
/input_demo/prot_seqs_wnt_human/*.aligned.*
*.log
*.class
/launch.md
/skills/


*~
.*.un~
