/phylotree_builder_v0.0.1/.pixi/
/phylotree_builder_v0.0.1/__pycache__/
/phylotree_builder_v0.0.1/lib/
/phylotree_builder_v0.0.1/test*/
/phylotree_builder_v0.0.1/third_party/
/test1/
/test2/
/test3*/
/test4*/
/dev_test/
/AGENTS.md
/CLAUDE.md
/launch.md
/docs/
/old_archive/
/input_demo/prot_seqs_with_structure/demo_outputs/
/input_demo/prot_seqs_with_structure/foldseek_structure_similarity/
/input_demo/prot_seqs_with_structure/*.aligned.*
*.log
*.class
