/phylotree_builder_v0.0.1/.pixi/
/phylotree_builder_v0.0.1/__pycache__/
/phylotree_builder_v0.0.1/lib/
/phylotree_builder_v0.0.1/test*/
/input_demo/
/phylotree_builder_v0.0.1/third_party/
/test1/
/test2/
*.fasta
*.log
